<div>
  <div
    [ngStyle]="{
      'margin-top':
        commonService.screenWidth >= 1200
          ? '130px'
          : commonService.screenWidth < 768
          ? '140px'
          : '150px'
    }"
  >
    <!-- ? scrolled
        ? '130px'
        : '160px' -->
    <app-sidebar
      *ngIf="!registerCarUrl"
      [ngClass]="{
        sidebar: commonService.screenWidth >= 1200
      }"
      [ngStyle]="{
        display: commonService.screenWidth < 1200 ? 'none' : 'block',
        top: scrolled ? '90px' : '180px'
      }"
      [isAdmin]="isAdmin"
      [isRemax]="isRemax"
      [isUser]="isUser"
    ></app-sidebar>
  </div>
  <div
    [ngClass]="{
      'wrapper-xs': commonService.screenWidth <= 672
    }"
  >
    <div
      class="pill-container"
      [ngClass]="{
        rightWrapper: true,
        'bg-form': true,
        'wrapper-lg': commonService.screenWidth >= 1200 && !registerCarUrl
      }"
    >
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<!-- [ngStyle]="{
        'min-height':
          commonService.screenWidth <= 672
            ? 'calc(' + commonService.screenHeight + 'px - 2vw - 50px)'
            : 'calc(' + commonService.screenHeight + 'px - 2vw)'
      }" -->
<!-- <ng-template [ngIf]="isUser && isDashboard">
        <div class="container-fluid pt-5">
          <div class="row">
            <div class="col text-center">
              <h1 class="welcome">¡BIENVENIDO A AUTOSELL!</h1>
              <section class="section-area mt-5">
                <div class="container">
                  <div class="text-center">
                    <h2 class="ui-title">¿Cómo funciona?</h2>
                    <p>Compra o vende tu auto con nosotros</p>
                  </div>
                </div>
                <div class="container-fluid">
                  <div class="b-stages">
                    <div class="row no-gutters align-items-start">
                      <div class="b-stages__item col-lg-3">
                        <span class="b-stages__number">01</span>
                        <div class="b-stages__title text-primary">
                          Mi Cuenta
                        </div>
                        <div class="b-stages__info">
                          Revisa y actualiza tus datos personales.
                        </div>
                      </div>
                      <div
                        class="b-stages__item col-lg-3 d-flex-lg flex-lg-column-reverse"
                      >
                        <span class="b-stages__number">02</span>
                        <div class="b-stages__inner">
                          <div class="b-stages__title text-primary">
                            Vender mi Auto
                          </div>
                          <div class="b-stages__info">
                            Sube el auto que quieres vender.
                          </div>
                        </div>
                      </div>
                      <div class="b-stages__item col-lg-3">
                        <span class="b-stages__number">03</span>
                        <div class="b-stages__title text-primary">
                          Mis Autos Publicados
                        </div>
                        <div class="b-stages__info">
                          Revisa los autos publicados y los que están pendientes
                          de aprobación.
                        </div>
                      </div>
                      <div
                        class="b-stages__item col-lg-3 d-flex-lg flex-lg-column-reverse"
                      >
                        <span class="b-stages__number">04</span>
                        <div class="b-stages__inner">
                          <div class="b-stages__title text-primary">
                            Reportar Incidencia
                          </div>
                          <div class="b-stages__info">
                            Envíanos una solicitud en caso tengas algún problema
                            en el proceso.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </ng-template> -->
<!-- <ng-template [ngIf]="(isUser && !isDashboard) || !isUser"> -->
<!-- </ng-template> -->
