<div
  [ngClass]="{
    'sidebar-container': !isAdmin,
    'sidebar-container-admin': isAdmin
  }"
>
  <!-- Remax options -->
  <ul
    class="m-auto sideops-container"
    [ngStyle]="{
      height: scrolled ? 'calc(100vh - 150px)' : 'calc(100vh - 210px)'
    }"
    *ngIf="isRemax || isUser; else admin"
  >
    <li
      class="d-flex flex-column align-items-center justify-content-between sidebar-item"
      routerLink="cuenta"
    >
      <mat-icon class="mt-xs-1">account_circle</mat-icon>
      <a class="mb-xs-1">Mi Cuenta</a>
    </li>
    <li
      *ngIf="isRemax"
      class="d-flex flex-column align-items-center justify-content-between sidebar-item"
      routerLink="balance"
    >
      <mat-icon>account_balance</mat-icon>
      <a>Balance</a>
    </li>
    <li
      *ngIf="isRemax"
      class="d-flex flex-column align-items-center justify-content-between sidebar-item"
      routerLink="autoss-interesantes"
    >
      <mat-icon>stars</mat-icon>
      <a>Autos Interesantes</a>
    </li>
    <li
      class="d-flex flex-column align-items-center justify-content-between sidebar-item"
      routerLink="registrar-auto"
    >
      <mat-icon>directions_car</mat-icon>
      <a>Ingresar Auto</a>
    </li>
    <li
      class="d-flex flex-column align-items-center justify-content-between sidebar-item"
      routerLink="publicados-autos"
    >
      <mat-icon>car_rental</mat-icon>
      <a>Mis Autos Publicados</a>
    </li>
    <li
      class="d-flex flex-column align-items-center justify-content-between sidebar-item"
      routerLink="reportar-incidencia"
    >
      <mat-icon>warning</mat-icon>
      <a>Reportar Incidencia</a>
    </li>
    <li
      class="d-flex flex-column align-items-center justify-content-between sidebar-item"
      routerLink="home"
    >
      <mat-icon>exit_to_app</mat-icon>
      <a>Regresar</a>
    </li>
  </ul>
  <!-- Admin options -->
  <ng-template #admin>
    <ul
      class="py-5 sideops-container"
      [ngStyle]="{
        height: scrolled ? 'calc(100vh - 150px)' : 'calc(100vh - 180px)'
      }"
    >
      <!-- [@fold]="state" -->
      <li
        class="d-flex align-items-center sidebar-item"
        routerLink="registrar-auto"
      >
        <mat-icon>car_rental</mat-icon>
        <a class="ml-3">Ingresar Auto</a>
      </li>
      <li
        routerLinkActive="active"
        *ngIf="isAdmin"
        class="d-flex align-items-center sidebar-item"
      >
        <mat-icon>directions_car</mat-icon>
        <a [routerLink]="['autos-vendidos']" class="ml-3">Autos Vendidos</a>
      </li>
      <li
        routerLinkActive="active"
        class="d-flex align-items-center sidebar-item"
      >
        <mat-icon>electric_car</mat-icon>
        <a [routerLink]="['autos-disponibles']" class="ml-3"
          >Autos Disponibles</a
        >
      </li>
      <li
        routerLinkActive="active"
        class="d-flex align-items-center sidebar-item"
      >
        <mat-icon>electric_car</mat-icon>
        <a [routerLink]="['autos-no-disponibles']" class="ml-3"
          >Autos No Disponibles</a
        >
      </li>
      <li
        routerLinkActive="active"
        *ngIf="isAdmin"
        class="d-flex align-items-center sidebar-item"
      >
        <mat-icon>car_repair</mat-icon>
        <a [routerLink]="['autos-por-validar']" class="ml-3"
          >Autos por Validar</a
        >
      </li>

      <!-- 
      <li
        routerLinkActive="active"
        class="d-flex align-items-center sidebar-item"
      >
        <mat-icon>attach_money</mat-icon>
        <a [routerLink]="['registrar-venta']" class="ml-3"
          >Registrar una Venta</a
        >
      </li>
      <li
        routerLinkActive="active"
        class="d-flex align-items-center sidebar-item"
      >
        <mat-icon>how_to_reg</mat-icon>
        <a [routerLink]="['solicitudes-franquicia']" class="ml-3"
          >Solicitudes Franquicia</a
        >
      </li>
      <li
        routerLinkActive="active"
        class="d-flex align-items-center sidebar-item"
      >
        <mat-icon>local_car_wash</mat-icon>
        <a [routerLink]="['autos-reportados']" class="ml-3">Autos Reportados</a>
      </li> 
      <li
        routerLinkActive="active"
        class="d-flex align-items-center sidebar-item"
      >
        <mat-icon>request_quote</mat-icon>
        <a [routerLink]="['solicitudes-de-pago']" class="ml-3"
          >Solicitudes de Pago</a
        >
      </li>
      <li
        routerLinkActive="active"
        class="d-flex align-items-center sidebar-item"
      >
        <mat-icon>electric_car</mat-icon>
        <a [routerLink]="['autos-patrocinados']" class="ml-3"
          >Autos Patrocinados</a
        >
      </li>
      <li
        routerLinkActive="active"
        class="d-flex align-items-center sidebar-item"
      >
        <mat-icon>collections</mat-icon>
        <a [routerLink]="['cambiar-banner']" class="ml-3">Imagen Banner</a>
      </li> -->
      <li
        routerLinkActive="active"
        class="d-flex align-items-center sidebar-item"
      >
        <mat-icon>exit_to_app</mat-icon>
        <a [routerLink]="['home']" class="ml-3">Regresar</a>
      </li>
    </ul>
  </ng-template>
</div>

<!-- <div *ngIf="mobile" class="sidesk-mobile">
      
</div> -->
